In [ ]:
import pandas as pd

In [ ]:
races = pd.read_csv('races.csv')

In [ ]:
races = races[races['year'] >= 2014]

In [ ]:
races = races.reset_index()

In [ ]:
races

     index  raceId  ...      time                                                url
0      897     900  ...  06:00:00  https://en.wikipedia.org/wiki/2014_Australian_...
1      898     901  ...  08:00:00  https://en.wikipedia.org/wiki/2014_Malaysian_G...
2      899     902  ...  15:00:00  http://en.wikipedia.org/wiki/2014_Bahrain_Gran...
3      900     903  ...  07:00:00  http://en.wikipedia.org/wiki/2014_Chinese_Gran...
4      901     904  ...  12:00:00  http://en.wikipedia.org/wiki/2014_Spanish_Gran...
..     ...     ...  ...       ...                                                ...
156   1053    1069  ...  19:00:00  http://en.wikipedia.org/wiki/2021_United_State...
157   1054    1070  ...  19:00:00  http://en.wikipedia.org/wiki/2021_Mexican_Gran...
158   1055    1071  ...  17:00:00  http://en.wikipedia.org/wiki/2021_Brazilian_Gr...
159   1056    1072  ...  16:00:00  http://en.wikipedia.org/wiki/2021_Saudi_Arabia...
160   1057    1073  ...  13:00:00  http://en.wikipedia.org/wiki/2021_Abu_Dhabi_Gr...

[161 rows x 9 columns]

In [ ]:
results = pd.read_csv('results.csv')

In [ ]:
results

       resultId  raceId  driverId  ...  fastestLapTime fastestLapSpeed  statusId
0             1      18         1  ...        1:27.452         218.300         1
1             2      18         2  ...        1:27.739         217.586         1
2             3      18         3  ...        1:28.090         216.719         1
3             4      18         4  ...        1:28.603         215.464         1
4             5      18         5  ...        1:27.418         218.385         1
...         ...     ...       ...  ...             ...             ...       ...
25135     25141    1060       849  ...        1:08.520         226.865        11
25136     25142    1060        20  ...        1:08.420         227.196         4
25137     25143    1060       854  ...        1:09.394         224.007        12
25138     25144    1060       853  ...        1:09.757         222.842        12
25139     25145    1060       839  ...              \N              \N         4

[25140 rows x 18 columns]

In [ ]:
race_results = races.merge(results, left_on='raceId', right_on='raceId')

In [ ]:
race_results

      index  raceId  year  round  ...  rank fastestLapTime fastestLapSpeed statusId
0       897     900  2014      1  ...     1       1:32.478         206.436        1
1       897     900  2014      1  ...     6       1:33.066         205.131        1
2       897     900  2014      1  ...     5       1:32.917         205.460        1
3       897     900  2014      1  ...     7       1:33.186         204.867        1
4       897     900  2014      1  ...     3       1:32.616         206.128        1
...     ...     ...   ...    ...  ...   ...            ...             ...      ...
3002   1044    1060  2021      9  ...    11       1:08.520         226.865       11
3003   1044    1060  2021      9  ...     8       1:08.420         227.196        4
3004   1044    1060  2021      9  ...    18       1:09.394         224.007       12
3005   1044    1060  2021      9  ...    19       1:09.757         222.842       12
3006   1044    1060  2021      9  ...     0             \N              \N        4

[3007 rows x 26 columns]

In [ ]:
drivers = pd.read_csv('drivers.csv')

In [ ]:
drivers

     driverId  ...                                             url
0           1  ...     http://en.wikipedia.org/wiki/Lewis_Hamilton
1           2  ...      http://en.wikipedia.org/wiki/Nick_Heidfeld
2           3  ...       http://en.wikipedia.org/wiki/Nico_Rosberg
3           4  ...    http://en.wikipedia.org/wiki/Fernando_Alonso
4           5  ...  http://en.wikipedia.org/wiki/Heikki_Kovalainen
..        ...  ...                                             ...
848       850  ...  http://en.wikipedia.org/wiki/Pietro_Fittipaldi
849       851  ...        http://en.wikipedia.org/wiki/Jack_Aitken
850       852  ...       http://en.wikipedia.org/wiki/Yuki_Tsunoda
851       853  ...     http://en.wikipedia.org/wiki/Nikita_Mazepin
852       854  ...    http://en.wikipedia.org/wiki/Mick_Schumacher

[853 rows x 9 columns]

In [ ]:
data =  race_results.merge(drivers, left_on='driverId', right_on='driverId')

In [ ]:
lap = pd.read_csv('lap_times.csv')

In [ ]:
data = data.merge(lap, left_on='raceId', right_on='raceId')

In [ ]:
data = data.drop(columns=['time_x','url_x','fastestLapTime','fastestLapSpeed','url_y'], axis= 1)

In [ ]:
data = data.drop(columns=['number_x','number_y','dob','nationality','code','fastestLap'], axis= 1)

In [ ]:
display(data.tail(3))
display(data.head(3))

         index  raceId  year  round  ...  lap position_y      time  milliseconds_y
3291253   1044    1060  2021      9  ...   67         19  1:10.264           70264
3291254   1044    1060  2021      9  ...   68         19  1:10.647           70647
3291255   1044    1060  2021      9  ...   69         19  1:12.208           72208

[3 rows x 28 columns]

   index  raceId  year  round  ...  lap position_y      time  milliseconds_y
0    897     900  2014      1  ...    1          1  1:42.038          102038
1    897     900  2014      1  ...    2          1  1:37.687           97687
2    897     900  2014      1  ...    3          1  1:35.765           95765

[3 rows x 28 columns]

In [ ]:
data1 = data.groupby(['driverId_x','raceId','circuitId','name','driverRef','grid','constructorId','positionOrder']).agg({'laps':'max'})

In [ ]:
data1 = data1.reset_index()

In [ ]:
data1.head(5)

   driverId_x  raceId  circuitId  ... constructorId positionOrder  laps
0           1     900          1  ...           131            19     2
1           1     901          2  ...           131             1    56
2           1     902          3  ...           131             1    57
3           1     903         17  ...           131             1    54
4           1     904          4  ...           131             1    66

[5 rows x 9 columns]

In [ ]:
con = pd.read_csv('constructors.csv')

In [ ]:
data3 = data1.merge(con,left_on='constructorId',right_on='constructorId')

data3.head(2)

   driverId_x  ...                                                url
0           1  ...  http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
1           1  ...  http://en.wikipedia.org/wiki/Mercedes-Benz_in_...

[2 rows x 13 columns]

In [ ]:
data2 = data3.drop(['driverId_x','raceId','laps','url','name_x','constructorId','nationality','name_y'], axis=1)

In [ ]:
data2.head(2)

   circuitId driverRef  grid  positionOrder constructorRef
0          1  hamilton     1             19       mercedes
1          2  hamilton     1              1       mercedes

In [ ]:
circuit = pd.read_csv('circuits.csv')

final = data2.merge(circuit,left_on='circuitId',right_on='circuitId')

final.head(2)

   circuitId driverRef  ...  alt                                                url
0          1  hamilton  ...   10  http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1          1  hamilton  ...   10  http://en.wikipedia.org/wiki/Melbourne_Grand_P...

[2 rows x 13 columns]

In [ ]:
##create clean df

final.to_csv('f1(1).csv')